:root {
  --bee-yellow: #f3d82c;
  --bee-black: #000;
  --light-bee-yellow: #fde8bc;
  --custom-yellow: #ffee5c;
  --custom-black: #2b2c30;
  --custom-dark: #212529;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--custom-dark);
  min-height: 100vh;
}

.nav {
  z-index: 1000;
}
.nav-link.active {
  border-top: 1px solid var(--bee-yellow);
  color: var(--bee-yellow);
}
.sideNav {
  z-index: 5000;
  transform: translateX(100vw);
  /* transition: transform 0.5s linear; */
}
.sideNav.show {
  transform: translateX(0);
}

.socialLinks {
  z-index: 500;
}
.scrollToTop {
  z-index: 5000;
}
.scrollToTop.show {
  right: 20px;
}

.two-column-text {
  -webkit-columns: 40px 2;
  /* Chrome, Safari, Opera */
  -moz-columns: 60px 2;
  /* Firefox */
  columns: 60px 2;
}

#accordion .ui-accordion-header {
  font-size: medium;
  padding: 10px;
  text-align: left;
}

@media (max-width: 1300px) {
  .nav-link.active {
    border: none;
  }
}

@media (max-width: 800px) {
  .two-column-text {
    -webkit-columns: 40px 1;
    /* Chrome, Safari, Opera */
    -moz-columns: 60px 1;
    /* Firefox */
    columns: 60px 1;
  }

  #accordion .ui-accordion-header {
    font-size: x-small;
    padding: 5px;
    text-align: left;
  }
}
